*{
    margin: 0;
    padding: 0;
    user-select: none;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: Arial;
}

a{
    text-decoration: none;
    color: #fff;
}

input{
    border: none;
    border-radius: 5px;
    transition: box-shadow 250ms ease-in-out;
    padding: 2vh 2vw;
    font-weight: bold;
    text-align: center;
    margin: 1vh 0 2vh 0;
    user-select: text;
}

input:hover, button:hover{
    box-shadow: 0 0 0 4px rgb(21, 150, 255);
}

button{
    border: none;
    padding: 2vh 2vw;
    border-radius: 5px;
    background-color: rgb(21, 150, 255);
    font-weight: bold;
    color: #fff;
    transition: box-shadow 250ms ease-in-out;
}

.line{
    width: 75%;
    height: 2px;
    background-color: #fff;
    margin: 4vh 0;
    border-radius: 1px;
}