body{
    background-color: rgb(50, 50, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

h1{
    color: rgb(21, 150, 255);
}

.spclogin{
    width: 50%;
    background-color: rgb(80, 80, 80);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vh 4vw;
    border-radius: 1vw;
    color: #fff;
    font-weight: bold;
}

.spclogin img{
    width: 100px;
    margin-bottom: 5vh;
}

.spclogin form{
    width: 50%;
}

.campo{
    display: flex;
    flex-direction: column;
    margin: 1vh 0 1vh 0;
}

.btn{
    width: 100%;
}

#back{
    width: 100%;
}

#back a{
    position: absolute;
}

#back img{
    width: 20px;
}